/************ Global **************/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    padding-top: 20px;
}
.clear-fix{
    clear: both;
}
.container{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
/*============ Main Content =============*/
.main-content{
    
}
.content-head{
    width: 100%;
    background: rgba(0, 0, 0, .8);
    min-height: 100px;
    padding: 10px 20px;
    overflow: hidden;
    color: #fff;
}
.head-detail{
    width: 80%;
    float: left;
}
.head-detail > h1{
   font-size: 30px;
   padding-bottom: 5px;
}
.find-out-button{
    width: 20%;
    float: right;
    border: 2px solid #fff;
    text-align: center;
    margin-top: 14px;
    cursor: pointer;
}
.find-out-button >a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0px;
}
.content-warp{
    border-bottom: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    border-left: 1px solid #b7b7b7;
    padding: 0 20px 50px 20px;
    background: #ddd;
    overflow: hidden;
}
.conteint{
    padding: 20px 0;
    width: 80%;
    float: left;
}
.head-warp{
	width: 100%;
	height: 20px;
	margin-bottom: 15px;
}
.content-warp .conteint .news-head{
    font-size: 20px;
    width: 16%;
    float: left;
}
.content-warp .conteint .head-border{
    height: 1px;
    background: gray;
    width: 84%;
    float: right;
    margin-top: 15px;
}
.articles > article{
    background: #fff;
    float: left;
    width: 32%;
}
.articles > article:not(:last-child){
    margin-right: 2%;
}
.group-articles .articles > article:not(:last-child){
    margin-right: 1%;
}
.articles article > img{
    width: 100%;
    height: 170px;
}
.articles .art-info{
    border-bottom: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    border-left: 1px solid #b7b7b7;
    padding: 10px;
}
.articles .art-info > h1{
    padding: 5px 0;
}
.articles .art-info > p{
    padding: 10px 0;
}
.read-more-button{
    border-bottom: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    border-left: 1px solid #b7b7b7;
    padding: 20px 0;
    text-align: center;
}
.read-more-button > button{
    padding: 3px 6px;
    font-size: 12px;
    color: #239fdb;
    border: 1px solid #239fdb;
    background: #fff;
}
/****************
    Second head
*****************/
.second-head{
    width: 100%;
    height: 100px;
    background: #325249;
    color: #fff;
    text-align: center;
	margin-bottom: 25px;
}
.second-head > h1{
    font-size: 25px;
    padding: 15px 0 5px 0;
}

/* Group of articles more than three on row */
.group-articles .articles article{
    width: 24.2%;
}
.second-head-warp{
	font-size: 10px;
    width: 100%;
}
.second-head-warp .first-group{
    width: 50%;
	float: left;
	margin-bottom: 19px;
}
.second-head-warp .first-group .news-head{
	width: 40%;
	float: left;
}
.second-head-warp .first-group .head-border{
	width: 43%;
	float: left;
	background: gray;
	height: 1px;
	margin-top: 15px;
	margin-right: 5px;
}
.second-head-warp .first-group > button{
	width: 15%;
	font-size: 5px;
	margin-top: 5px;
	background: #325249;
	padding: 4px 2px;
	border: none;
}
.second-head-warp .first-group > button >a,
.second-head-warp .second-group > button >a,
.third-head-warp > button >a{
	text-decoration: none;
	color: #fff;
}
.second-head-warp .second-group{
    width: 50%;
	float: right;
	margin-bottom: 19px;
}
.second-head-warp .second-group .news-head{
	width: 35%;
	float: left;
}
.second-head-warp .second-group .head-border{
	width: 49%;
	float: left;
	background: gray;
	height: 1px;
	margin-top: 15px;
	margin-right: 5px;
}
.second-head-warp .second-group > button{
	width: 15%;
	font-size: 5px;
	background: #325249;
	padding:4px 2px;
	border: none;
	margin-top: 5px;
}
/******** Third header ********/
.third-head-warp{
	width: 100%;
	height: 20px;
	font-size: 12px;
}
.third-head-warp .news-head{
	width: 22%;
	float: left;
	margin: 25px 0 5px 0;
}
.third-head-warp .head-border{
	width: 67.4%;
	float: left;
	background: gray;
	height: 1px;
	margin: 40px 5px 30px 0;
}
.third-head-warp > button{
	width: 10%;
	font-size: 5px;
	background: #325249;
	padding:4px 2px;
	border: none;
	margin: 30px 0 5px 0;
}
/****************
    AsideBar
*****************/
.side-bar{
    width: 20%;
    float: right;
}
/*######## Media quiry #########*/
@media (max-width: 1200px){
	.content-warp .conteint .news-head{
    width: 21%;
}
.content-warp .conteint .head-border{
    width: 79%;
}
}