/************ Global **************/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
 
}
.clear-fix{
    clear: both;
}
.container{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
/*============ Main Content =============*/
.main-content{
    position: absolute;
    margin-top: -100px;
    z-index: 27;
    left: 7.5%;
    right: 7.5%;
}
.head-background{
    height: 400px;
    width: 100%;
    position: relative;
    z-index: 1;
}
.head-background >img{
    height: 400px;
    width: 100%;
}
.content-head{
    width: 100%;
    background: rgba(0, 0, 0, .8);
    min-height: 100px;
    padding: 10px 20px;
    overflow: hidden;
    color: #fff;
}
.head-detail{
    width: 80%;
    float: left;
}
.head-detail > h1{
   font-size: 30px;
   padding-bottom: 5px;
}
.find-out-button{
    width: 20%;
    float: right;
    border: 2px solid #fff;
    text-align: center;
    margin-top: 14px;
    cursor: pointer;
}
.find-out-button >a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0px;
}
.content-warp{
    border-right: 1px solid #b7b7b7;
    border-left: 1px solid #b7b7b7;
    padding: 0 20px 50px 20px;
    background: #ddd;
    overflow: hidden;
}
.conteint{
    padding: 20px 0;
    width: 75%;
    float: left;
}
.head-warp{
	width: 100%;
	height: 20px;
	margin-bottom: 26px;
}
.content-warp .conteint .news-head{
    font-size: 20px;
    width: 18%;
    float: left;
}
.content-warp .conteint .head-border{
    height: 1px;
    background: gray;
    width: 81%;
    float: right;
    margin-top: 15px;
}
.articles > article{
    background: #fff;
    float: left;
    width: 32%;
}
.articles > article:not(:last-child){
    margin-right: 2%;
}
.group-articles .articles > article:not(:last-child){
    margin-right: 1%;
}
.articles article > img{
    width: 100%;
    height: 170px;
	margin-bottom: -4px;
}
.articles .art-info{
    border-bottom: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    border-left: 1px solid #b7b7b7;
    padding: 10px;
}
.articles .art-info > h1{
    padding: 5px 0;
}
.articles .art-info > p{
    padding: 10px 0;
}
.read-more-button{
    border-bottom: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    border-left: 1px solid #b7b7b7;
    padding: 20px 0;
    text-align: center;
}
.read-more-button > button{
    padding: 3px 6px;
    font-size: 12px;
    color: #239fdb;
    border: 1px solid #239fdb;
    background: #fff;
}
/****************
    Second head
*****************/
.second-head{
    width: 100%;
    height: 100px;
    background: #325249;
    color: #fff;
    text-align: center;
	margin-bottom: 25px;
}
.second-head > h1{
    font-size: 25px;
    padding: 15px 0 5px 0;
}

/* Group of articles more than three on row */
.second-head-warp{
	font-size: 10px;
    width: 100%;
}
.group-articles .articles article{
    width: 48%;
    float: left;
    font-size: 14px;
    margin-top: 15px;
    background: #fff;
}
.group-articles .last-group .articles article{
    width: 24.2%;
}
.second-head-warp .first-group >article,
.second-head-warp .second-group >article{
    margin-right: 3.9%;
}
.second-head-warp .first-group article:last-child,
.second-head-warp .second-group article:last-child{
    margin-right: 0;
}
.second-head-warp .first-group{
    width: 49%;
	float: left;
    margin-bottom: 19px;
    margin-right: 2%;
}
.second-head-warp .first-group .news-head{
	width: 46%;
	float: left;
}
.second-head-warp .first-group .head-border{
	width: 35%;
	float: left;
	background: gray;
	height: 1px;
	margin-top: 15px;
	margin-right: 5px;
}
.second-head-warp .first-group > button{
	width: 17.9%;
	font-size: 5px;
	margin-top: 5px;
	background: #325249;
	padding: 4px 2px;
	border: none;
}
.second-head-warp .first-group > button >a,
.second-head-warp .second-group > button >a,
.third-head-warp > button >a,
.side-bar-head-warp button >a{
	text-decoration: none;
	color: #fff;
}
.second-head-warp .second-group{
    width: 49%;
	float: right;
    margin-bottom: 19px;
    margin-right: 0;
}
.second-head-warp .second-group .news-head{
	width: 41%;
	float: left;
}
.second-head-warp .second-group .head-border{
	width: 39%;
	float: left;
	background: gray;
	height: 1px;
	margin-top: 15px;
	margin-right: 5px;
}
.second-head-warp .second-group > button{
	width: 18%;
	font-size: 5px;
	background: #325249;
	padding:4px 2px;
	border: none;
	margin-top: 5px;
}
.second-head-warp .second-group >article{
    margin-right: 3.9%;
}
.second-head-warp .second-group article:last-child{
    margin-right: 0;
}
/******** Third header ********/
.third-head-warp{
	width: 100%;
	height: 20px;
	font-size: 12px;
}
.third-head-warp .news-head{
	width: 25%;
	float: left;
	margin: 25px 0 5px 0;
}
.third-head-warp .head-border{
	width: 64.4%;
	float: left;
	background: gray;
	height: 1px;
	margin: 40px 5px 30px 0;
}
.third-head-warp > button{
	width: 10%;
	font-size: 5px;
	background: #325249;
	padding:4px 2px;
	border: none;
	margin: 30px 0 5px 0;
}
/****************
    AsideBar
*****************/
.side-bar{
    width: 25%;
    float: right;
    padding-left: 20px;
}
.side-bar-head-warp{
    width: 100%;
}
.side-bar-head-warp .events-head{
	width: 37%;
    float: left;
    margin: 20px 0 5px 0;
}
.side-bar-head-warp .head-border{
	width: 16%;
    float: left;
    background: gray;
    height: 1px;
    margin: 34px 5px 30px 0;
}
.side-bar-head-warp > button{
	width: 44%;
    font-size: 5px;
    background: #325249;
    padding: 4px 2px;
    border: none;
    margin: 24px 0 5px 0;
}
.calnder-warp{
    width: 100%;
    font-size: 12px;
    background: #fff;
    overflow: hidden;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: -1px;
}
.calnder-warp .calnder-data{
    width: 20%;
    float: left;
    text-align: center;
    color: #fff;
}
.calnder-warp .calnder-data >h1{
    background: #5e3c80;
    font-size: 8px;
    padding: 3px 0;
}
.calnder-warp .calnder-data >h2{
    background: #325249;
    padding: 3px 0;
}
.calnder-warp .calnder-info{
    width: 78%;
    float: right;
}
/*============== Media quiry ===================*/
/*######## Extra Small Screen #########*/
@media (max-width: 767px){
     .container{
        width: 100%;
     }
    .main-content {
        margin-top: -147px;
        left: 0;
        right: 0;
    }
    .conteint {
        width: 100%;
    }
    .content-warp .conteint .news-head {
         width: 23%; 
    }
    .content-warp .conteint .head-border {
         width: 77%; 
    }
    .articles > article,
    .second-head-warp .first-group article,
    .second-head-warp .second-group article,
    .group-articles .last-group .articles article{
        width: 100%;
        margin-bottom: 5px;
    }
    .articles > article >img,
    .second-head-warp .first-group article >img,
    .second-head-warp .second-group article >img,
    .third-head-warp article >img{
        height: 250px;
    }
/************** Side Bar ****************/
    .side-bar {
         width: 100%;
        padding-left: 0; 
    }
    .side-bar-head-warp .events-head {
         width: 12%; 
    }
    .side-bar-head-warp .head-border {
         width: 72%; 
    }
    .side-bar-head-warp > button {
         width: 15%; 
    }
    /************** articles head ***************/
    .second-head-warp .first-group,
    .second-head-warp .second-group {
         width: 100%; 
    }
    .second-head-warp .first-group .news-head {
         width: 31%; 
    }
    .second-head-warp .first-group .head-border {
         width: 53%; 
    }
    .second-head-warp .first-group > button {
         width: 15%; 
    }
    .second-head-warp .second-group .news-head {
         width: 28%; 
    }
    .second-head-warp .second-group .head-border {
         width: 53%; 
    }
    .third-head-warp .news-head {
         width: 34%; 
    }
    .third-head-warp .head-border {
         width: 48%;  
    }
    .third-head-warp > button {
         width: 17%; 
    }

}
/*######## Small Screen #########*/
@media (min-width: 768px) and (max-width: 991px){
     .container{
        width: 100%;
     }
    .main-content {
        margin-top: -147px;
        left: 0;
        right: 0;
    }
    .conteint {
        width: 100%;
    }
    .content-warp .conteint .news-head {
        width: 20%;
    }
    .content-warp .conteint .head-border {
        width: 80%;
    }
/************** Side Bar ****************/
    .side-bar {
        width: 100%;
        padding-left: 0;
    }
    .side-bar-head-warp .events-head {
        width: 12%;
    }
    .side-bar-head-warp .head-border {
        width: 72%;
    }
    .side-bar-head-warp > button {
        width: 15%;
    }
    .calnder-warp {
        width: 40%;
    }
    /************** articles head ***************/
    .second-head-warp .first-group,
    .second-head-warp .second-group {
        width: 100%;
    }
    .second-head-warp .first-group .news-head {
        width: 31%;
    }
    .second-head-warp .first-group .head-border {
        width: 53%;
    }
    .second-head-warp .first-group > button {
        width: 15%;
    }
    .second-head-warp .second-group .news-head {
        width: 28%;
    }
    .second-head-warp .second-group .head-border {
        width: 53%;
    }
    .third-head-warp .news-head {
        width: 34%;
    }
    .third-head-warp .head-border {
        width: 48%; 
    }
    .third-head-warp > button {
        width: 17%;
    }

}
/*######## Medium Screen #########*/
@media (min-width: 992px) and (max-width: 1199px){
    .main-content {
        margin-top: -147px;
    }
    .content-warp .conteint .news-head{
        width: 22%;
    }
    .content-warp .conteint .head-border{
        width: 77%;
    }
    .third-head-warp .news-head {
        width: 30%;
    }
    /********** Second Head **********/
   .second-head-warp .first-group .news-head {
        width: 55.72%;
    }
    .second-head-warp .first-group .head-border {
        width: 17%;
    }
    .second-head-warp .first-group > button {
        width: 25%;
    }
    .second-head-warp .second-group .news-head {
        width: 50%;
    }
    .second-head-warp .second-group .head-border {
        width: 23%;
    }
    .second-head-warp .second-group > button {
        width: 25%;
    }
    /******** Third header ********/
    .third-head-warp .news-head{
        width: 30%;
    }
    .third-head-warp .head-border{
        width: 59%;
    }
/*********** Side Bar ************/
    .side-bar-head-warp .events-head {
        width: 45%;
        font-size: 18px;
    }
    .side-bar-head-warp .head-border {
        display: none;
    }
    .side-bar-head-warp > button {
        width: 54%;
        padding: 3px 2px;
        margin-top: 20px;
    }

}
/*########  Just to customize main Content #########*/
@media (min-width: 1036px) and (max-width: 1199px){
    .main-content {
        margin-top: -109px;
    }
}
/*######## Larg Screen #########*/
@media (min-width: 1200px){
    /* .content-warp .conteint .news-head{
        width: 21%;
    }
    .content-warp .conteint .head-border{
        width: 79%;
    } */
    /************ Side Bar ************/
    /* .side-bar-head-warp .events-head {
        width: 40%;
    }
    .side-bar-head-warp .head-border {
        width: 13%;
    }
    .side-bar-head-warp > button {
        width: 44%;
    } */
    
}
